<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container mt-5">
      <div class="jumbotron text-center">
        <h1 class="display-4">What's Matter Daddy?!</h1>
        <p class="lead">Oh, I lost another 10mm socket but that's life.</p>
        <a class="btn btn-primary btn-lg" href="random_joke" role="button" style="background-color: #3E6257; border-color: #16221F;">Pull my finger/a>
      </div>
    </div>
  </body>
</html>